*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.line-logo{

line-height:100px ;


}

.logo{
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;

}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    display: inline-block;
    vertical-align:middle;
    margin-bottom: 40px;
}