*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 244, 245);
    font-family: 'Roboto', sans-serif;
}
header{
background-color: white;

padding:15px 30px;


}

.logo{
    vertical-align: middle;

}

.scritta-logo{
    font-size: 40px;
    display: inline-block;
    vertical-align:middle;
    font-weight: bold;
}

.contenitore{
    width: 1200px;
    background-color: white;
    border-radius: 2%;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.buttons{
padding:10px 30px;
border-bottom: 2px solid rgb(240, 244, 245) ;
}

.button{

   background-color: black;
   border:0;
   color:white;
   height: 35px;
   padding: 0 15px;
   border-radius: 10px;
   font-size: 12px;
}

.button.addtask{
background-color: #09a9ed;

}

.button.addsection{
    background-color:#fff;
    color:#ccc;
    border:1px #ccc solid;
}



.nome-task{
    font-size: 30px;
   margin-top: 30px;;

}

.carattere-elenco{
    font-size:20px;
}


.row{
    margin-top: 10px;
}

main{
    padding:10px 50px
}


.vero{
    color: greenyellow;
    border:  3px solid greenyellow;
    border-radius: 50%;
    

   
    

}

.scritte-task{
    margin-left: 10px;
    font-size: 25px;
    vertical-align: middle;
}

.tag{
    display:inline-block;
    font-size:15px;
    padding:5px 8px;
    border-radius: 10px;
    background-color: #ccc;
    color:#fff;
    vertical-align: middle;
}

.tag.blue{
    background-color: rgba(59, 158, 250, 0.932);
}

.tag.viola{
    background-color: rgb(154 40 169 / 93%);
   

}

.falso{
    color:red;
    border: 3px solid red;
    border-radius:50%;
}


.tag.verde{
    background-color: green;
    
}

.tag.arancio{
    background-color:orange;
    
}




.tag.lime{
    background-color:rgb(18, 231, 18);
   

}
